.crypto__widget {
    width: 66vw;
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .crypto__symbol {
        width: 14vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
        

        h1 {
            color: white;
            font-family: 'Poppins';
            font-weight: 100;
            font-size: 2rem;
        }
    }
    .crypto__name {
        width: 14vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
        

        h2 {
            color: white;
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 1.2rem;
        }
    }

    .crypto__value {
        width: 24vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        span {
            margin: -12px 6px 0 0;
            padding: 3px;
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 0.8rem;
            border-radius: 3px;
        }
        h2 {
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 1.2rem;
        }
    }

    .crypto__delete {
        width: 7vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        .delete__button {
            width: 7vw;
            height: 16vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
           

            img {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
    }
}