.dashboard__header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
}

.dashboard__header .logo__area {
  width: 70vw;
  height: 10vh;
}

.dashboard__header .logo__area .logo {
  width: 14vw;
  height: 10vh;
  background-image: url(../../../cosmoLogo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}

.dashboard__header .profile__area {
  width: 28vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__header .profile__area .profile__details {
  width: 16vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__header .profile__area .profile__details .profile__img {
  width: 4vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__header .profile__area .profile__details .profile__img img {
  width: 35px;
  height: 35px;
  border-radius: 150px;
}

.dashboard__header .profile__area .profile__details .profile__name {
  width: 6vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__header .profile__area .profile__details .profile__name h3 {
  font-family: 'Poppins';
  color: white;
  font-weight: 200;
}

.dashboard__header .profile__area .logout__buttonArea {
  width: 10vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__header .profile__area .logout__buttonArea .logout__btn {
  width: 100px;
  height: 40px;
  border-radius: 150px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.dashboard__header .profile__area .logout__buttonArea .logout__btn h4 {
  font-family: 'Poppins';
  font-weight: 200;
  color: black;
  font-size: 0.8rem;
}

.dashboard__header .profile__area .logout__buttonArea .logout__btn:hover {
  background: #202020;
}

.dashboard__header .profile__area .logout__buttonArea .logout__btn:hover h4 {
  color: white;
}
/*# sourceMappingURL=headerMainStyles.css.map */