.crypto__widget {
    width: 66vw;
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .crypto__symbol {
        width: 15vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            font-family: 'Poppins';
            font-weight: 100;
            font-size: 2rem;
        }
    }
    .crypto__name {
        width: 18vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: white;
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 1.2rem;
        }
    }

    .crypto__value {
        width: 27vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            color: rgb(127, 214, 46);
            font-family: 'Poppins';
            font-weight: 200;
            font-size: 1.2rem;
        }
    }

    .crypto__delete {
        width: 6vw;
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .delete__button {
            width: 6vw;
            height: 16vh;
            display: flex;
            justify-content: center;
            align-items: center;
           

            img {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
    }
}